:root{
    --mainColor: #ac2327;
    --secColor: #414141;
    --fontColor: white;
    --thirdColor: #9e9797;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

body{
    background-image: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-position: 20em 50em;
    background-size: 200em;
    color: var(--fontColor);
}

/*LA SECCION DEL HEATHER*/

header {
    width: 100%;
    height: 600px;
    background: var(--mainColor);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b1113, #ac2327), url(../img/fondoprincipal.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b2627, #ac23278c), url(../img/fondoprincipal.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    position: relative;
}


/*Posiciona la barra de busqueda al lado derecho de la pagina*/

nav {
    text-align: center;
    padding: 30px 0 0 0;
}


/*Cambia las caracteristicas de los links del navegador*/

nav>a {
    color: var(--fontColor);
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav>a:hover {
    text-decoration: underline;
}


/*Posiciona la "ola" que se situa debajo de la imagen y esta en color blanco (para el efecto wave)*/

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*Posiciona el titulo principal y le cambia su color y atributos*/

.textos-heather {
    text-align: center;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 430px;
    width: 100%;
}

.textos-heather>img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.textos-heather>h1 {
    font-size: 50px;
}

.textos-heather>h3 {
    font-size: 30px;
    font-weight: 300;
}


/*LA INFORMACION GENERAL*/

.container{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 0 2rem 0 2rem;
}

/*Presentación profesor@*/

.containerPresentacion{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 1rem 2rem;
}

.containerPresentacion>h1{
    margin: 2rem 0 2rem 0;
    color:black;
}

.infoPresentacion{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--secColor);
    padding: 2em;
}

.imgPresentacion{
    height: 100%; 
    border: 2px solid var(--mainColor);
    padding: 1em;
}


.textoPresentacion{
    margin: 0 2rem 0 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 350px; 
}

.textoPresentacion>h3{
    margin: 1rem 0 1rem 0;
}

/*Descripcion del semillero*/

.infoSemillero{
    display: grid;
    grid-template-columns: 35% auto 35%;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 4em 4em 4em 4em;
    
}

.infoSemillero>img{
    width: 400px;
    align-items: center;
    justify-content: center;
}

.containerDescripcion{
    display: flex;
    flex-flow: column wrap;
    position: relative;
    align-items: center;
    background-color: var(--secColor);
    min-height: auto;
    height: 500px;
    box-shadow: 0px 10px 15px -3px var(--secColor);
    font-size: 14px;
}

.containerDescripcion>h1{
    margin-top: 1em;
}


.infoDescripcion{
    margin: 2em;
    font-size: 1.8em;
}

.containerObjetivos{ 
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--secColor);
    height: 500px;
    box-shadow: 0px 10px 15px -3px var(--secColor);
}

.containerObjetivos>h1{
    margin:0.5em;
}

.infoObjetivos{
    font-size: 12px;
    margin:0.5em;
}

.infoObjetivos>p{
    margin: 1em;
}

.infoObjetivos>ul>li{
    margin: 1em;
}
.infoObjetivos>h3{
    margin: 1em;
}

.infoObjetivos>ul>li{
    list-style: none;
}

/*lineas de inv*/

.containerLineasInv{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;  
}

.lineaInv:nth-child(2){
    height: 350px;
}

.lineaInv:nth-child(4){
    height: 350px;
}


.fondoLineasInv{
    position: absolute;
    width: 1000px;
    height: 150px;
    z-index: -1;
    background-color: var(--mainColor);
    box-shadow: 0px 10px 15px -3px var(--secColor);
}


.lineaInv{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    margin: 2em;
    background-color: var(--secColor);
    color: var(--fontColor);
    padding: 2em;
    min-width: 400px;
    box-shadow: 0px 10px 15px -3px var(--secColor);
}


.lineaInv>h3{
    margin: 0.5em;
}

/*enfoques*/

.containerEnfoques{
    display:grid;
    grid-template-columns: auto auto;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
}

.enfoque{
    width: 400px;
    background-color: var(--secColor);
    padding: 2em;
    height: 250px;
    box-shadow: 0px 10px 15px -3px var(--secColor);
}

.enfoque>h2{
    margin: 0.5em 0 0.5em 0;
}

.proyectos>ol{
    margin-left: 30px;
}

/*boton de registro*/

.ingresaContainer{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 2em 0 2em 0;
}

.infoRegistro{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}

.lineas{
    height: 5px;
    width: 300px;
    background-color: var(--thirdColor)
}

.ingresaContainer>h2{
    color: black !important;
}

.linkRegistro{
    background-color: var(--thirdColor);  
    padding: 2em; 
    border-radius: 10px;
    margin: 1em;
    cursor: pointer; 
}

.linkRegistro:hover{
    background-color: var(--secColor);
}

.infoRegistro:hover .lineas{
    background-color: var(--secColor);
}


.linkRegistro>a{
    display: flex;
    color: var(--fontColor) !important;
    text-decoration: none;
    align-items: center;
    
}


/*Para el footer (parte final de la pagina)*/

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid var(--mainColor);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
