/* Todo contenido de la paginaweb */
:root {
	--mainColor: #00468e;
	--secColor: #00b0b9;
	--thrdColor: #006666;
	--fourthColor: #e5ffb8;
	--fontColor: #ffffff;
	--secFontColor: #0000;
	--fontStyle: 'Roboto Mono', monospace;
	--blurColor: #0e1b3c4d;
	--bgColor: #00b0b9;
	--boxShadow: #0b08085a;
}

* {
	padding: 0;
	margin: 0;	
	font-family: 'Roboto Mono', monospace;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--fontStyle);
	background-color: var(--fontColor);
	color: var(--fontColor);
}

/* aca se trabaja, el menu con el menu desplegable, la foto de inicio o cabecera y la frase  */

.headerContainer {
	background-image: url('../imagenes/universidadfotofondo.jpg');
	background-size: cover;
	padding: 0 0 20em 0;
	background-repeat: no-repeat;
	background-position: top;
}

/* solo es el menu flotante superior */

.navbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	font-size: 1.5em;
	background-color: var(--mainColor);
	box-shadow: 3px 3px 10px rgb(14, 27, 60, 0.30);
	backdrop-filter: blur(10px);
}

/* el derecho */

.logoNavBar {
	margin: 1rem 8rem 0 0;
	align-items: right;
}

/*mobile nav bar*/

.mobileNavBars {
	position: absolute;
}

/* el izquierdo */

.navbarLeft {
	margin: 1rem 0 0 2em;
	display: flex;
	flex-flow: row wrap;
	padding: 0 2em 0 0;
}


.subMenu>ul>li>a {
	text-decoration: none;

}

.navbarLeft>ul {
	list-style: none;
	margin: 0 1rem 1rem 0;
}

.navbarLeft>ul>li>a {
	text-decoration: none;
	color: var(--fontColor);
}

/* se maneja los subemuns desplegables */

.semilleros {
	cursor: pointer;
}

.subMenu {
	display: flex;
	flex-flow: column wrap;
	position: absolute;
}

.subMenu>ul>li {
	list-style: none;
	background-color: var(--mainColor);
	padding: 0.5em 1em 0.5em 1em;
	display: flex;
	flex-flow: column wrap;

}

.subMenu>ul>li>a {
	color: var(--fontColor);
	text-decoration: none;
}

/* el titulo encima de la foto */

.tituloPrincipal {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 5em 4em 0 4em;
	padding: 0.5em 0 0.5em 0;
	font-size: 3.4em;
	background-color: var(--mainColor);
	box-shadow: 3px 3px 10px rgb(14, 27, 60, 0.30);
	backdrop-filter: blur(10px);
	border-radius: 10px;

}

/* empieza la informacion regular */

.container {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-flow: column wrap;
	padding: 1em 1em 20em 1em;
	box-shadow: 0 -12px 20px -8px rgb(14, 27, 60);
}

.swiper {
	width: 1200px;
	height: 700px;
	box-shadow: 0 10px 20px 8px var(--blurColor);
	border-radius: 0.5rem;
}

.swiper-pagination-bullet-active {
	background-color: var(--mainColor) !important;
}

.swiper-button-next,
.swiper-button-prev {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.5);
	right: 5px;
	padding: 10px;
	border-radius: 5px;
	color: var(--mainColor) !important;
	fill: var(--mainColor) !important;
	stroke: var(--mainColor) !important;
}

.bloqueContenido {
	display: flex;
	justify-content: justify;
	align-items: center;
	flex-flow: column wrap;
	padding: 2rem 0 2rem 0;
}

.bloqueContenido>h2 {
	margin: 0 0 2rem 0;
}

/*información carrera*/
.containerCarrera{
    display: flex;
    align-items: center;
    justify-content: center;
}


.industrialCarrera{
    display: flex;
    flex-flow: row nowrap;
}

.bloqueIzq{
	margin-left: 250px !important;
}

.bloqueDec{
	margin-left: 50px !important;
}

.bloquesIndustrial>img{
    margin-bottom: -10px;
    width: 220px;
}

.bloquesInfo{
    display: grid;
    grid-template-rows:  auto auto auto auto auto auto auto auto;
	width: 600px;
}

.infoSemestreCarrera{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column 	wrap;
    margin: 1em;
    background-color: var(--thrdColor);
    padding: 2em;
    border-radius:3px;
    max-width: fit-content;
    cursor: pointer;
	max-width: 300px;
	font-size: 14px;
}

.tituloSemestre{
	margin-bottom: 10px;
}


.infoSemestreCarrera>ul{
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 2em;
	row-gap: 0.5em;
}

.infoSemestreCarrera>ul>li{

    text-decoration: none;
}



/* Semilleros */
.semillerosUsta{
	display: grid;
	grid-template-columns: auto auto auto auto;
	background-color: var(--thrdColor);
	box-shadow: 0 5px 10px 5px var(--boxShadow);
	border-radius: 10px;
}

.cardSemilleros {
	display: grid;
	grid-template-rows: 40% 60%;
	grid-template-columns: auto;
	align-items: center;
	max-height: 600px;
	max-width: 280px;
	margin: 2rem 1.5rem 2rem 1.5rem;
	border: solid 1px;
	border-radius: 10px;
	background-color: var(--mainColor);
	box-shadow: 0 5px 10px 5px var(--boxShadow);
	color: var(--fontColor);
	overflow: hidden;
}

.logoSemillero{
	background-color: white;
}

.cardSemilleros>img {
	border-radius: 10px 10px 0 0;
	max-width: 280px;
}

.infoCardSemillero {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	max-height: 300px;
	font-size: 12px;
}

.infoCardSemillero>p {
	margin: 1rem;
	justify-content: justify;

}

.infoCardSemillero>h3 {
	margin: 1rem 0 0 0;
}

/*Actividades*/
.swiper-slide {
	background-size: cover;
	background-position: center center;
	color: var(--fontColor);
}

.text-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	margin: 500px 600px 0 0;
	padding: 30px 0 30px 0;
	background-color: var(--thrdColor);
	border-radius: 0 20px 20px 0;
	box-shadow: 0 10px 20px -8px var(--boxShadow);
}


.text-container>p {
	font-size: 10px;
	margin: 0 10px 5px 20px;
}

.text-container>h3 {
	margin: 0 0 1rem 20px;
}

.showInfoActividades {
	filter: brightness(0.50);
}

.slide-1 {
	background-image: url(../imagenes/imgcarrusel/fotocarrusel1.jpg);
}

.slide-2 {
	background-image: url(../imagenes/imgcarrusel/fotocarrusel5.jpg);
}

.slide-3 {
	background-image: url(../imagenes/imgcarrusel/fotocarrusel3.jpg);
}

.slide-4 {
	background-image: url(../imagenes/imgcarrusel/fotocarrusel4.jpg);
}



.actividadesInfoTitulo,
.actividadesInfoParrafo {
	display: absolute;
}

/* Footer */

footer {
	background-color: var(--mainColor);
	padding: 1rem 0 2rem 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.containerInfoFooter {
	margin: 0 5rem 0 5rem;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	max-width: 1000px;
}

#tituloSM{
	display: flex;
	align-items: center;
	justify-content: center;
}
.divisor{
	margin: 1rem 0 1rem 0;
}


.linkSocialMedia{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin: 2rem 0 2rem 0;
}

.linkSocialMedia>a{
	list-style: none;
	text-decoration: none;
	color: var(--fontColor);
	margin: 0 3rem 0 3rem;
	font-size: 2rem;
}


.linkerFooter{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;

}

.linkerFooter>a{
	list-style: none;
	text-decoration: none;
	margin: 0 2rem 0 2rem;
	cursor:pointer;
	color: var(--fontColor);
}

#derechosReservados{
	display: flex;	
	align-items: center;
	margin: 1.5rem 0 0 0;
	justify-content: center;
}