@media screen and (max-width:1000px) {
    
    /*esto es para la cabeza*/
    header {
        background-position: center;
    }
    
}

@media screen and (max-width:1600px) {
    
    /*esto es para la cabeza*/
    header {
        background-position: center;
    }

    .infoDescripcion{
        font-size: 1.5em;
    }
    
    
}

@media screen and (max-width:1350px) {
    
    /*esto es para la cabeza*/
    header {
        background-position: center;
    }

    .containerDescripcion>h1{
        font-size: 1.5em;
    }
    .infoDescripcion{
        font-size: 1.2em;
    }
    
    .containerObjetivos>h1{
        font-size: 1.1em;
    }
    .infoProyectos{
        font-size: 10px;
    }
    
}

@media screen and (max-width:800px) {

    body{
        font-size: 10px;
        background-image: none;
    }
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav>a {
        margin-right: 5px;
    }
    .textos-heather h1 {
        font-size: 35px;
    }
    .textos-heather h2 {
        font-size: 5px;
    }
    /*info cuerpo*/

    .infoPresentacion{
        font-size: 8px;
        flex-wrap: wrap;
        width: 300px;
        margin-left: 7em;
    }
    .imgPresentacion{
        display: flex;
        flex-flow: column wrap;
    }

    .textoPresentacion{
        width: 200px;
    }

    .infoObjetivos{
        font-size: 8px;
    }

    .infoSemillero{
        font-size: 10px;
        margin: 8em 0 8em 0;
    }

    .containerMisionVision{
        display: flex;
        flex-flow: column wrap;
    }

    .containerMision{
        width: 300px;
    }
    .mision{
        width:300px;
    }

    .containerVision{
        width: 300px;
    }
    .vision{
        width:300px;
    }

    .containerDescripcion{
        height: auto;
        width: 300px;
    }

    .containerDescripcion>h1{
        font-size: 13px;
    }

    .infoDescripcion{
        font-size: 0.8em;
        height: 200px;
    }

    .lineaInv{
        width: 320px;
        height: auto;
        min-width: 0px;
    }

    .lineaInv>ul>li{
        font-size: 8px;
    }

    .infoInv{
        font-size: 8px;
    }

    .containerObjetivos{
        width: 300px;

    }
    .containerLineasInv{
        max-width: 350px;

    }

    .imgPresentacion>img{
        width: 150px;
        height: 200px;
    }
    

    
    .containerPresentacion{
        width: 200px;
    }

    .infoSemillero>img{
        width: 200px;
    }

    .infoSemillero{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 25% auto 35%;
        row-gap: 5em;
    }

    .enfoque{
        width: 200px;
    }

    .containerEnfoques{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .lineas{
        width: 100px;
    }

    .fondoLineasInv{
        height: 250px;
        width: 250px;
    }

    .ingresaContainer>h2{
        font-size: 10px;
    }

    /* Contacto */
    .contenedor-footer {
        flex-direction: column;
        border: none;
    }
    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4 {
        border: none;
    }
    .content-foo p {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
    .titulo-final {
        font-size: 20px;
    }
}